body{
    background-color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 4em;
}

p{
    text-align: justify;
    font-size: 1.5em;
}

h2{
    font-size: 2.5em;
}